
@font-face {
  font-family: 'SansusWebissimo';
  src: url('SansusWebissimo.eot?#iefix') format('embedded-opentype'),  url('SansusWebissimo.woff') format('woff'), url('SansusWebissimo.ttf')  format('truetype'), url('SansusWebissimo.svg#SansusWebissimo') format('svg');
  font-weight: normal;
  font-style: normal;
}
